<main class="main">
    <div class="conteiner-fluid">

<section class="contact__section" id="contact">

    <h2 class="section__title">Contactame</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="uil uil-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Llamame</h3>
                    <span class="contact__subtitle">999-777-666</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="uil uil-envelope-add contact__icon"></i>
                <div>
                    <h3 class="contact__title">Enviame un correo</h3>
                    <span class="contact__subtitle">1234@gmail.com</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="uil uil-map-marker-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title">Localizacion</h3>
                    <span class="contact__subtitle">Paraná, Entre Ríos, Argentina</span>
                </div>
            </div>
        </div>
        <form action="" class="contact__form conteiner grid">
            <div class="contact__inputs">
                <div class="contact__content">
                    <label for="" class="contact__label">Nombre</label>
                    <input type="text" class="contact__input">
                </div>
            </div>
            <div class="contact__inputs">
                <div class="contact__content">
                    <label for="" class="contact__label">Email</label>
                    <input type="email" class="contact__input">
                </div>
            </div>
            <div class="contact__content">
                <label for="" class="contact__label">Proyecto</label>
                <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
                <label for="" class="contact__label">Mensaje</label>
               <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
                <input type="text" class="contact__input">
            </div>
    
            <div>
                <a href="#" type="submit" class="button button--flex">
                    Enviar Mensaje
                    <i class="uil uil-envelope-upload button__icon"></i>
                </a>
            </div>
        </form>
    </div>
   

   
    
</section>
      
    </div>
</main>