<main class="main">
    <div class="conteiner-fluid">

        <section class="formacion section" id="formacion">
            <h2 class="section__title">Formación</h2>     
            <span class="section__subtitle">My personal journey</span>  

            <div class="formacion__container container">
                <div class="formacion__tabs">
                    <div class="formacion__button button--flex">
                        <i class="uil uil-graduation-cap formacion__icon"></i>
                        Educación
                    </div>

                    <div class="formacion__button button--flex">
                        <i class="uil uil-briefcase-alt formacion__icon"></i>
                        Trabajo
                    </div>
                </div>
                <div class="formacion__sections formacion__tabs">
                   
                    <!--==================== CUALIDADES CONTENIDO 1 ====================-->
                    <div class="formacion__content formacion__active" data-content id="educacion">
                        <!--==================== qualification 1 ====================-->
                        <div class="formacion__data">
                            <div>
                                <h3 class="formacion__title">Computer Enginner</h3>
                                <span class="formacion__subtitle">Peru-university</span>
                                <div class="formacion__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2009-2014
                                </div>
                            </div>
                            
                            
                        </div>

                        
                        <!--==================== qualification 2 ====================-->
                        <div class="formacion__data">
                            <div></div>

                            

                            <div>
                                <h3 class="formacion__title">Web desing</h3>
                                <span class="formacion__subtitle">Spain - intituto</span>
                                <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                                </div>
                            </div>

                            
                        </div>

                        <!--==================== qualification 3 ====================-->
                        <div class="formacion__data">
                            <div>
                                <h3 class="formacion__title">Web developer</h3>
                                <span class="formacion__subtitle">Peru-university</span>
                                <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                                </div>
                            </div>

                            
                        </div>

                        <!--==================== qualification 4 ====================-->
                        <div class="formacion__data">
                            <div></div>
                            <div>
                                <h3 class="formacion__title">Master in UI/UX</h3>
                                <span class="formacion__subtitle">Peru-university</span>
                                <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    <span class="formacion__rounder"></span>
                    <span class="formacion__line"></span>
                    <span class="formacion__line"></span>
                    <span class="formacion__rounder"></span>
                    
                    </div>

                    <!--==================== CUALIDADES CONTENIDO 2 ====================-->
                    <div class="formacion__content" data-content id="trabajo">
                        <!--==================== qualification 1 ====================-->
                        <div class="formacion__data">
                            <div>
                                <h3 class="formacion__title">Software Enginner</h3>
                                <span class="formacion__subtitle">Microsoft - Peru</span>
                                <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                                </div>
                            </div>                        
                        </div>

                        <!--==================== qualification 2 ====================-->
                        <div class="formacion__data">
                        <div></div>

                        <div>
                            <h3 class="formacion__title">Fullstack developer</h3>
                            <span class="formacion__subtitle">Apple Inc - Spain</span>
                            <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                            </div>
                        </div>

                        
                    </div>

                        <!--==================== qualification 3 ====================-->
                        <div class="formacion__data">
                        <div>
                            <h3 class="formacion__title">Ui desing</h3>
                            <span class="formacion__subtitle">Google - Peru</span>
                            <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                            </div>
                        </div>

                    </div>

                        <!--==================== qualification 4 ====================-->
                        <div class="formacion__data">

                        <div>
                            <h3 class="formacion__title">Master in UI/UX</h3>
                            <span class="formacion__subtitle">Peru-university</span>
                            <div class="formacion__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009-2014
                            </div>
                        </div>                               
                    </div>                     
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
 