<main class="main">
    <div class="conteiner-fluid">
      
        <section class="about section" id="about">
            
            <h2 class="section__title">Acerca De</h2>
            <span class="section__subtitle"> Mi introduccion</span>

            <div class="about__conteiner conteiner grid">
                <img src="assets/cat.png" alt="" class="about__img">
                <div class="about__data">
                    <p class="about__description">Estoy en proceso a ser una desarrolladora web full stack,
                        vivo y crecí en Paraná, una ciudad de Entre Ríos, Argentina para ser más especifica.
                        Me gusta mucho desarrollar nuevos conocimientos, por lo cual me considero a mi misma una persona multifacética y autodidacta.
                        Me encanta el arte, la tecnología, la naturaleza y muchas cosas más, en mi tiempo libre disfruto de las actividades al aire libre, pasar tiempo con personas queridas</p>
                    <div class="about__info">
                        <div class="about__buttons">
                            <a download="" href="assets/Alexa-Cv.pdf" class="button button--flex">
                            Descarga mi CV <i class="uil uil-download-alt button__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="location__buttons">
                <div class="button--flex edit__button">
                    <i class="uil uil-pen"></i>
                </div>
                <div class="button--flex edit__button">
                    <i class="uil uil-trash-alt"></i>
                </div>
            </div>
        </section>
      
    </div>
</main>