<main class="main">
    <div class="conteiner-fluid">

<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">Mi nivel tecnico</span>

    <div class="skills__container container grid">
        <div>
             <!--==================== SKILLS 1====================-->
             <div class="skills__content">
                 <div class="skills_header">
                    <i class="uil uil-brackets-curly skills__icon"></i>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button skills__arrow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div>
                                    <h1 class="skills__title">Frontend developer</h1>
                                    <span class="skills__subtitle">Más de 4 años</span>
                                </div>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="skills__list grid">
                                    <div class="skills__data">
                                        <div class="skills__titles">
                                            <h3 class="skills__name">HTML</h3>
                                            <span class="skills__number">30%</span>
                                        </div>
                                        <div class="skills__bar">
                                            <span class="skills__porcentaje skills__html"></span>
                                        </div>
                                    </div>
   
                                    <div class="skills__data">
                                       <div class="skills__titles">
                                           <h3 class="skills__name">CSS</h3>
                                           <span class="skills__number">30%</span>
                                       </div>
                                       <div class="skills__bar">
                                           <span class="skills__porcentaje skills__css"></span>
                                       </div>
                                   </div>
   
                                   <div class="skills__data">
                                       <div class="skills__titles">
                                           <h3 class="skills__name">JavaScript</h3>
                                           <span class="skills__number">2%</span>
                                       </div>
                                       <div class="skills__bar">
                                           <span class="skills__porcentaje skills__js"></span>
                                       </div>
                                   </div>
                                    
                                </div>
                            </div>
                          </div>
                        </div>
                 </div>                             
                </div>
             </div>

              <!--==================== SKILLS 2====================-->
              <div class="skills__content">
                <div class="skills_header">
                    <i class="uil uil-server-network skills__icon"></i>>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div>
                                <h1 class="skills__title">Backend developer</h1>
                                <span class="skills__subtitle">Más de 4 años</span>
                            </div>
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">Java</h3>
                                        <span class="skills__number">30%</span>
                                    </div>
                                    <div class="skills__bar">
                                        <span class="skills__porcentaje skills__java"></span>
                                    </div>
                                </div>

                                <div class="skills__data">
                                   <div class="skills__titles">
                                       <h3 class="skills__name">Node Js</h3>
                                       <span class="skills__number">30%</span>
                                   </div>
                                   <div class="skills__bar">
                                       <span class="skills__porcentaje skills__node"></span>
                                   </div>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>                           
            </div>                    
        </div>
        <div>
             <!--==================== SKILLS 3====================-->
             <div class="skills__content">
                <div class="skills_header">
                    <i class="uil uil-swatchbook skills__icon"></i>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div>
                                <h1 class="skills__title">Software</h1>
                                <span class="skills__subtitle">Más de 1 año</span>
                            </div>
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">Photoshop</h3>
                                        <span class="skills__number">60%</span>
                                    </div>
                                    <div class="skills__bar">
                                        <span class="skills__porcentaje skills__photo"></span>
                                    </div>
                                </div>

                                <div class="skills__data">
                                   <div class="skills__titles">
                                       <h3 class="skills__name">Spark Ar</h3>
                                       <span class="skills__number">50%</span>
                                   </div>
                                   <div class="skills__bar">
                                       <span class="skills__porcentaje skills__spark"></span>
                                   </div>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>    
        </div>
    </div>
</section>
      
</div>
</main>